
{% extends 'homeBlog/basic.html' %}
	{% block content %} 
    <h1>You Can Give Your Valuable Feedback or Suggesion to Improve Users Experience</h1>


    <form class="was-validated" method = "POST" >
    {% csrf_token %}
    <div class="row">
  <div class="col">
    <input type="text" name = "name" class="form-control" placeholder="Your Name" aria-label="Name" id="inputCity" required>
  </div>
  <div class="col">
    <input type="text" name = "email" class="form-control" placeholder="email@email.com" aria-label="Email" id="inputEmail4" required>
  </div>
</div> 
<br>
  <div class="col-12">
    <input type="text" name = "detail"  class="form-control" id="inputAddress" placeholder="Most Welcome to your Valuable Comment for Improving Site" required>
  </div>

	<br>
    <div class="col-12">
    <button type="submit" class="btn btn-primary">Save </button>
  </div>
</form>
    
    {% for comm in preComment %}
    	
		 <legend style="color:green">{{comm.name }} : {{comm.email }}</legend>
    		<p ><b>{{comm.detail }}</b></p>
    	{% endfor %}

    
    
  </body>
	{% endblock %}

